body{
    background-image: url('imagens/wallpaper001.jpg');
}

.quadrado{
    background-color: cornflowerblue;
    border: 2px solid black;
    border-radius: 10px;
    display:inline-block;
    width:300px;
    height:300px;
}

#q1{
    background-color: burlywood;

}

#q2{
    background-image: linear-gradient(to top, burlywood, transparent);

}

#q3{
    background-image: url('imagens/pattern003.png');

}